@import "../../../styles";

.svg-inline--fa {
    font-size: 1.1em !important;
    color: $secondary-color;
}

.degres {
    color: $secondary-color;
}

canvas{
  
    width:100% !important;
    height:180px !important;
  
}