<div class="row">
  <div class="col s12 m4">
    <mz-input-container>
        <i mz-input-prefix class="fas fa-search fa-fw" ></i>
      <input mz-input [label]="'Recherche'" id="search-input" placeholder="Entrez votre recherche ici ..." type="text" [(ngModel)]="searchDeviceFilter" style="padding-left:50px">
    </mz-input-container>
  </div>

  <div class="col s12 m2 offset-m6">
    <div class="number-of-device-container">
      <span class="number-of-device">
          {{ deviceList.length }}
      </span>
      <span>device(s)</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m6" *ngFor="let dev of deviceList | SearchDevice: searchDeviceFilter">
    <mz-card class="device-pannel">
      <mz-card-title>
        {{ dev.deviceName }}
        <hr>
      </mz-card-title>

      <mz-card-content>
        <span class="device-field-name">
          ID / Adresse
        </span>
        <span>- {{ dev.deviceId }}</span>
        <br>
        <br>

        <span class="device-field-name">
          Message(s)
        </span>
        <span>- {{ dev.numberOfMessageReceived }} message(s)</span>
        <br>
        <br>

        <span class="device-field-name">
          Dernier message
        </span>
        <span>- {{ dev.lastMessageReceivedDate | date:'dd-MM-yy HH:mm:ss'}}</span>
      </mz-card-content>
    </mz-card>
  </div>
</div>


